.input-group {
  padding: 24px;
}

.add-location-card {
  margin: 36px auto;
  margin-bottom: 24px;
  width: 90%;
  padding: 14px;
}

#fab {
  height: 18px;
}

#extended-icon {
  margin-right: 24px;
  height: 20px;
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .add-location-card {
      margin: 36px auto;
      margin-bottom: 24px;
      width: 80%;
      padding: 14px;
    }
}
