.input-group {
  padding: 24px;
}

.addLocationCard {
  margin: 36px auto;
  margin-bottom: 24px;
  width: 90%;
  padding: 14px;
}
Button.addLocationButton {
  flex-wrap: wrap; 
  margin: auto;
  width: 50%;
  margin: 24px;
}

#fab {
  height: 18px;
}

#extended-icon {
  margin-right: 24px;
  height: 20px;
}
